.sheetContainer {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.sheetContainer,
.sheetContainer * {
  box-sizing: border-box;
}

.sheet {
  flex-basis: 80%;
  min-width: 500px;
  margin-top: 30px;
}

.sheetSpace {
  height: 134px;
}

.staff {
  width: 100%;
  position: relative;
}

.staffLine {
  border-width: 0px;
  border-top: 1px solid black;
  margin: 0px;
}

.lineSpace {
  height: 16px;
}

.staffSpace {
  height: 108px;
}

.staffLeftSection {
  position: absolute;
  left: 12px;
  top: 0px;
  height: 100%;
  min-width: 70px;
  display: flex;
  column-gap: 10px;
}

.grandStaff {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.trebleClef {
  align-self: center;
  width: auto;
  height: 180%;
  object-fit: contain;
}

.bassClef {
  width: auto;
  height: 81%;
  object-fit: contain;
}

.timeSignatureContainer {
  margin-left: 7px;
  align-self: center;
  height: 100%;
  width: 30px;
}

.timeSignatureNumber {
  display: block;
  width: auto;
  height: 50%;
  object-fit: contain;
}

.notesListContainer {
  flex-basis: 20%;
  min-width: 250px;
}

.notesListHeading {
  font-size: 22px;
  line-height: 26px;
}

.notesList {
  border-radius: 10px;
  background-color: #e8f1f0;
  height: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  padding: 20px 0px;
  user-select: none;
}

.notesListIcon {
  width: auto;
  max-width: 30px;
  max-height: 52px;
  object-fit: contain;
}
.notesListIcon:hover {
  cursor: pointer;
}

.notesListRow {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}

.notesListRowItem {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}
